h1 {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Black Ops One", sans-serif;
    color: green;
    font-size: clamp(1.8rem, 15vw, 3.2rem);
    text-align: center;

    border-bottom: 2px solid darkgreen;
    padding: 0.3rem 0.3rem;
    border-radius: 0 0 5px 5px;

    background-color: #000;
    z-index: 1000;
}