@font-face {
    font-family: "Black Ops One";
    src: url("../assets/fonts/Black_Ops_One/BlackOpsOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Zain";
    src: url("../assets/fonts/Zain/Zain-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Zain-Bold";
    src: url("../assets/fonts/Zain/Zain-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Zen Dots", sans-serif;
    src: url("../assets/fonts/ZenDots/ZenDots-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#item_cont{
    list-style: none;
    padding: 0;
    margin: 1.5rem auto;
    max-width: 350px;
    text-align: left;
    position: relative;
    --checkbox-spalte: 30px;
}

#item_cont::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 19.75px;
    width: 1.5px;
    background: green;
    left: var(--checkbox-spalte);
}

#item_cont li {
    padding: 0.5rem 0;
}

#item_cont label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#item_cont li label input[type="checkbox"] {
    flex: 0 0 auto;
    margin: 0 -5px 0 0;
}

#item_cont li label span {
    padding-left: 5px;
    height: 25px;
    position: relative;
    top: 0.5px;
}

#item_cont li.list-meta {
    display: flex;
    align-items: center;
    background: rgba(46, 204, 113, 0.08);
    border-bottom: 1px solid green;
    font-weight: normal;
    font-style: italic;
    font-size: 0.85rem;
    color: green;
    padding: 0.2rem 0;
}

#item_cont li.list-meta #item_count {
    flex: 0 0 auto;
    width: var(--checkbox-spalte);
    margin: 0 5px 0 0;
    text-align: center;
}

#item_cont li.list-meta #list_category {
    padding-left: 0%;
}

body {
    background-color: #000;
    color: #fff;
    margin: 2rem;
    padding-top: 6rem;
    font-family: "Zain", sans-serif;
    text-align: center;
}

h1 {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Black Ops One", sans-serif;
    color: green;
    font-size: clamp(1.8rem, 15vw, 3.2rem);
    text-align: center;

    border-bottom: 2px solid darkgreen;
    padding: 0.3rem 0.3rem;
    border-radius: 0 0 5px 5px;

    background-color: #000;
    z-index: 1000;
}
h2 {
    font-family: "Zain-Bold", sans-serif;
    color: green;
    font-size: clamp(0.4rem, 10vw, 1.5rem);
    text-align: center;

    margin-top: -0.3rem;
    margin-bottom: 0;
}

input:not([type="checkbox"]) {
    display: block;
    margin: 1.8rem 1rem 1.8rem 1.8rem;
    padding: 0.25rem 0.5rem;

    background: linear-gradient(125deg, #2ecc71, #27ae60);

    font-size: 0.95rem;

    border: none;
    border-radius: 0.3rem;
}
input::placeholder {
    color: rgba(0, 0, 0) !important;
}

input:not([type="checkbox"]) {
    display: block;
    margin: 1.25rem auto;
}

select {
    display: block;
    margin: 1.25rem auto;
    padding: 0.25rem 1rem;

    background: linear-gradient(125deg, #2ecc71, #27ae60);

    font-size: 0.95rem;

    border: none;
    border-radius: 0.3rem;
}

button {
    display: block;
    margin: 2rem auto;
    padding: 0.8rem 1.6rem;

    background: linear-gradient(135deg, #2ecc71, #27ae60);
    color: rgba(0, 0, 0);

    font-size: 1.2rem;
    font-weight: 600;

    border: none;
    border-radius: 0.6rem;

    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;

    animation: fadeInUp 0.8s ease-out forwards;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 12px rgba(46, 204, 113, 0.6);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 0 6px rgba(46, 204, 113, 0.4);
}

.center {
    text-align: center;
}

.checkbox-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    max-width: 600px;
    margin: 1rem auto;
    text-align: left;
    padding-right: 5;
}

.checkbox-row #acceptance {
    margin-top: 0.35rem !important;
}

.checkbox-row label {
    margin: 1;
}

.selected {
    background: linear-gradient(135deg, #f1c40f, #e67e22);
    box-shadow: 0 0 12px rgba(241, 196, 15, 0.6);
}

.hidden {
    display: none !important;
}

.delete-btn {
    padding: 0.25rem 0.5rem !important;
    font-size: 1rem !important;
    margin-left: auto !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    animation: none;
}

.checked {
    color: rgba(255, 255, 255, 0.6) !important;
    accent-color: rgba(134, 173, 207, 0.8) !important;
}

.checkbox-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 18px;
    width: 18px;
    margin-right: 10px;
}

.button-row {
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
}
.button-row button,
.button-row select {
    margin: 0;
    border-radius: 0.6rem;
}

.app, .account {
    position: fixed;
    top: 1rem;

    border-bottom: 2px solid;

    z-index: 1000;
}
.app {
    padding: 0.3rem 0.8rem;
    z-index: 1000;
    left: 1rem;

    font-family: "Zen Dots";
    font-size: clamp(1.5rem, 10vw, 2rem);
    color: rebeccapurple;

    border-radius: 0.6rem;
    border-color: rebeccapurple;
}

.account {
    padding: 0.3rem 0.8rem;
    z-index: 1000;
    right: 0.5rem;

    font-family: "Zen Dots";
    font-size: clamp(1.5rem, 10vw, 2rem);
    color: cadetblue;

    border-radius: 0.6rem;
    border-color: cadetblue;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    padding: 0.5rem 0.8rem;
    background: none;
    border: none;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 12px;
}

.menu.hidden {
    display: none;
}

@media (max-width: 625px) {
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 9rem;
        height: 100vh;
        background: #222;
        z-index: 1001;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
    }
    .app,
    .account {
        position: static;
        left: auto !important;
        top: 0;
        font-size: 1.8rem;
        padding: 0.25rem 0;
        z-index: 1002;
    }
    .menu-toggle {
        display: block;
        position: fixed;
        top: 5.2rem;
        left: 4.5rem;
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
        color: green;
        z-index: 1002;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10rem;
        left: 1rem;
        background: none;
        padding: 6px;
        border-radius: 0.6rem;
        z-index: 1002;

        opacity: 0;
        transform: translateX(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        transition-delay: 0s;
        pointer-events: none;
    }

    body.menu-open .menu {
        opacity: 1;
        transform: translateX(0);
        transition-delay: 0.15s;
        pointer-events: auto;
    }

    .menu.open {
        display: flex;
    }
    body.menu-open::before {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }
}

.password-wrap {
    position: relative;
    display: inline-block;
    margin: 1.25rem auto;
}

.password-wrap input {
    margin: 0;
    padding-right: 2.5rem;
}

.password-wrap button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border: none;
    padding: 0.2rem 0.5rem;
    margin: 0;
    cursor: pointer;
    font-size: 1.2rem;

    animation: none;
}

.new_article {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 1.25rem auto;
    margin-top: 1rem;
    margin-bottom: 0;
    max-width: fit-content;
}

.new_article input {
    margin: 0;
}

.edit-menu {
    display: block;
    position: relative;
    background: grey;
    padding: 0.5rem;
    margin: auto;
    border-radius: 0.6rem;
    width: fit-content;
    min-width: 10rem;

    box-sizing: content-box;
    height: auto;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    pointer-events: none;
}

.edit-menu.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    pointer-events: auto;
}

.admin {
    margin-top: 5rem;
    background: indianred;
    color: white;
    font-style: italic;
    font-weight: normal;
}

.select-like {
    width: 100%;
    position: relative;
    margin-top: 1rem;
}
.select-button {
    display: block;
    margin: 0 auto;
    padding: 0.8rem 2rem;

    background: linear-gradient(125deg, #2ecc71, #27ae60);
    color: rgba(0, 0, 0);

    font-size: 1rem;
    font-weight: normal;
    text-align: center;

    border: none;
    border-radius: 0.6rem;

    cursor: pointer;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;

    background: #222;
    border-radius: 0.6rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    padding: 5px;

    z-index: 1003;
}
.dropdown.open {
    display: block;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
}
.controls button {
    display: inline-block;
    margin: 0 0 0 4px;
    padding: 0.3rem 0.6rem;

    background: linear-gradient(135deg, #2ecc71, #27ae60);
    color: rgba(0, 0, 0);

    font-size: 1rem;
    font-weight: normal;

    border: none;
    border-radius: 0.4rem;

    cursor: pointer;
}